[phases.setup]
nixPkgs = [
    "nss",
    "atk",
    "at-spi2-atk",
    "cups",
    "libdrm",
    "libxkbcommon",
    "xorg.libXcomposite",
    "xorg.libXdamage",
    "xorg.libXfixes",
    "xorg.libXrandr",
    "mesa",
    "alsa-lib",
    "pango",
    "cairo",
    "glib"
]
