[phases.setup]
nixPkgs = [
    "nss",
    "atk",
    "at-spi2-atk",
    "cups",
    "libdrm",
    "libxkbcommon",
    "xorg.libXcomposite",
    "xorg.libXdamage",
    "xorg.libXfixes",
    "xorg.libXrandr",
    "mesa",
    "alsa-lib",
    "pango",
    "cairo",
    "glib",
    "gtk3"
]

[start]
cmd = "LD_LIBRARY_PATH=/nix/store/*-nss-*/lib:/nix/store/*-atk-*/lib:/nix/store/*-glib-*/lib:$LD_LIBRARY_PATH node src/server.js"
